body{
    text-align: center;
}
main{
    text-align: center;
    display: inline-flex;
    border: 2px solid violet;
}

header{
    text-align: center;
    background-color: lightgray;
}
div#menu{
    margin: 20px;
    width: 250px;
    height: auto;
    border: 2px solid black;

}
div#panel{
    margin: 20px;
    width: 500px;
    height: auto;
    border: 2px solid black;
}
div#objetivos{
    margin: 20px;
    width: 250px;
    height: auto;
    border: 2px solid black;

}
div#image{
    margin: 0px auto;
    height: 300px;
    width: 400px;
    border: 2px solid black;
}
img#backimage{
    position: relative;
    top: 0;
    left: 0;
    visibility: visible;
}
img#house{
    position: relative;
    top: -305px;
    right: 2px;
    visibility: hidden;
}
section{
    border: 2px solid black;
    margin: 5px 50px;
    display: inline-flex;
}
h4{
    padding: 0;
    margin: 5px 5px 0px 5px;
}
p{
    padding: 0;
    margin: 0px 5px 5px 5px;
}
button{
    display: inline-block;
}
div#time{
    border: 3px solid brown;
    width: 40%;
    margin: 10px auto 0px auto;
    display: inline-flex;
}
div#gold-box{
    border: 3px solid brown;
    width: 40%;
    margin: 0px auto;
}
h3{
    text-align: center;
    padding: 0;
    margin: auto;
}
h3#gold, h3#gold-label{
    display: inline;
}
h4#message{
    margin: 5px auto;
}
div#objetivos > h2{
    color: blue;
    margin: 0;
}
ul{
    padding: 0;
    display: inline;
}
li{
    padding: 5px;
    margin: 5px 15px;
    border: 1px solid black;
    
}
li>div>h3{
    text-align: left;
}
